main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

ul {
    list-style: none;
    padding-left: 0px;
}

.col-4, .col-8 {
    padding-bottom: 50px;
}
