{% extends "layout.html" %}

{% block main %}

<table id="results" class="table table-bordered table-hover text-info">
    <thead>
        <th>ISBN</th>
        <th>Title</th>
        <th>Author</th>
    </thead>

    <tbody>
        {% for result in results %}
        <tr>
            <td>{{ result["isbn"] }}</td>
            <td><a href="{{ url_for('bookpage', isbn=result['isbn']) }}">{{ result["title"] }}</a></td>
            <td>{{ result["author"] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
